<div class="container">
  <div #slider class="slider">
    <div>
      <img alt="" src="https://fondosmil.com/fondo/17009.jpg" />
    </div>
    <div>
      <img alt="" src="https://fondosmil.com/fondo/17010.jpg" />
    </div>
    <div>
      <img alt="" src="https://fondosmil.com/fondo/17009.jpg" />
    </div>
    <div>
      <img alt="" src="https://fondosmil.com/fondo/17010.jpg" />
    </div>
  </div>
  <div class="controls-slider">
    <div (click)="scrollLeft()"><span>&#60;</span></div>
    <div (click)="scrollRight()"><span>&#62;</span></div>
  </div>
</div>
